
@{
    ViewData["Title"] = "ArticleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>ArticleListExcel</h1>
<br />

<a href="/Admin/Article/ExportStaticExcelArticleList" class="btn btn-primary">Excel Dosyasını İndir</a>
@*<button class="btn btn-primary" onclick="DownloadExcelArticleList">Excel Dosyasını İndir</button>

<script>
    function DownloadExcelArticleList(){
        window.open("/Admin/Article/ExportStaticExcelArticleList");
    }

</script>*@

