
@{
    ViewData["Title"] = "ArticleTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>ArticleTitleListExcel</h1>
<br />
<a href="/Admin/Article/ExportDynamicExcelArticleList" class="btn btn-primary">Excel Dosyasını İndir</a>

